/*-- scss:defaults --*/

/* Type system */
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap');

/*-- scss:rules --*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure the body takes full height */
}

body {
    background-color: #08141e;
    font-family: 'VT323', sans-serif;
}



.quarto-container {
  overflow: hidden;
}

.btn {
    border-radius: 100px;
    padding: 10px 30px;
    min-width: 200px;
}

p {
    margin-bottom: 0;
}

u1 {
    margin-bottom: 0;
}

.show.back-to-position {
  opacity: 1;
  transform: translateY(0);
}

/* Change the background color of the navbar */
.navbar {
    background-color: #090c25; /* Replace with your desired color */
    margin: 0;
    padding: 10px;
    position: fixed; /* Fix the navbar to the top */
    width: 100%;
    z-index: 1; /* Ensure navbar stays on top */
    top: 0; /* Ensure it starts at the top */

    .navbar-container {
        align-items: stretch !important;
        -webkit-align-items: stretch !important;

        .navbar-brand-container {
            .navbar-brand {
                .navbar-logo {
                    height: 45px;
                    border-radius: 20px;
                
                
                }
            }
        }
    }

}
  
/* Change the text color of the navbar links */
.navbar .nav-link {
    color: #FFFFFF; /* Replace with your desired color */
}
  
/* Change the hover color of the navbar links */
.navbar .nav-link:hover {
    color: #FFD700; /* Replace with your desired hover color */
}
  
/* Hide the title */
.hidden-title {
    display: none;
}

.text-wrap {
    color: white;
}

.section-2 {
    display: flex;
    padding: 128px 0;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 60px; /* Ensure there's no margin at the top, adjust according to the height of the navbar */
    width: 100%;
    height: calc(100vh - 60px); /* Adjust the height to fill the viewport minus the navbar height */

    .community-backdrop {
        position: absolute;
        top: -60px; /* Start from the top, adjust according to the height of the navbar */
        bottom: 0;
        width: 100vw;
        z-index: -1;

        .community-background {
            background-image: url(./assets/spacebg.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            width: 100%;
            height: calc(100% + 60px); /* Ensure it covers the full viewport height, adjust according to the height of the navbar */
            opacity: 0.8;
        }
    }

    .creating-softwares {
        display: flex;
        align-items: center;
        gap: 64px;

        .level3 {
            display: flex;
            flex-direction: column;
            gap: 24px;
            color: white;
            flex: 8 0 0;
            width: 48%;
        }

        .img-wrap {
            display: block;
            width: 75%;

            p {
                display: block;

                img {
                    width: 100%;
                }
            }
        }
    }
}

.section-3 {
    display: flex;
    padding: 128px 0;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%; /* Ensure full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */

    .creating-softwares {
        display: flex;
        align-items: center;
        gap: 64px;

        .level3 {
            display: flex;
            flex-direction: column;
            gap: 24px;
            color: white;
            flex: 8 0 0;
            width: 48%;
        }

        .img-wrap {
            display: block;
            width: 75%;

            p {
                display: block;

                img {
                    width: 100%;
                }
            }
        }
    }
}
